{% extends "base.html" %}

{% block content %}

<h3>Dashboard</h3>

<a href="/add_task">Add Task</a> |
<a href="/logout">Logout</a>

<hr>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.status }}</td>
        <td>
            <a href="/complete/{{ task.id }}">Complete</a> |
            <a href="/edit/{{ task.id }}">Edit</a> |
            <a href="/delete/{{ task.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}